<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="./public/stylesheet" href="styleLogin.css" type="text/css">  -->
    <!-- <link rel="/public/stylesheet" href="styleLogin.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="public/styleLogin.css"> -->
    <link href="/css/styleLogin.css" rel="stylesheet" type="text/css">

    <title>Login-Verkauf_Mubea</title>
</head>

<body>
<h1>das ist login.ejs xxxxin views</h1>

    <button>go registrieren</button>

    <li id="google"><a href="https://www.google.ch/">GOOGLE</a></li>



    <button><a href="/api/registrieren">go to Register</a></button>

</body>

</html>