<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="./public/stylesheet" href="styleLogin.css" type="text/css">  -->
    <!-- <link rel="/public/stylesheet" href="styleLogin.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="public/styleLogin.css"> -->
    <link href="/css/styleLogin.css" rel="stylesheet" type="text/css">

    <title>Login-Verkauf_Mubea</title>
</head>

<body>
<h1>das ist login.ejs xxxxin <%= myVar %> views</h1>

    <button>go registrieren</button>

    <li id="google"><a href="https://www.google.ch/">GOOGLE</a></li>

<button class = 'btn btn-primary' onclick = "<%= xClicker %>">Click Me!</button>

<button type="button" id="getStatusButton" onclick="click()">Show something</button>

    <button><a href="/api/registrieren">go to Register</a></button>

    <br>
        <a href="#" id="joke" onclick="loadJoke()">Nächsten Witz anzeigen!</a>
        <p id="j"></p>

<script>
console.log("ich bin login.ejs, jedoch werde ich im Browser angezeigt");
//todo wie main.js auslagern?????   type=application..json
 async function loadJoke() {
            try { //hier wäre fehler status 400
                const response = await fetch('https://api.chucknorris.io/jokes/random');
                console.log(response);
                if (response.ok) {
                    const data = await response.json();
                    console.log(data);
                    console.log(data.value);
                    document.getElementById('j').innerText = data.value;
                } else {
                    console.error(await response.text);
                    document.getElementById('j').innerText = "Kein Internet!!!";
                }
            } catch (e) {
                console.error(e);
                document.getElementById('j').innerText = "Kein Internet!!!";
            }
        }

</script>

</body>

</html>